body {
  font-size: 2em;
}

.pending {
  color: grey;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

.current {
  border-bottom: solid;
}

.input {
  
}

#title{ 
  color: lightcoral;
}